$font-size: 10pt;

#raw-resume-content {
    font-size: $font-size;
}

.children-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.exp-content {
    // padding-left: 1.5*$font-size;
    padding-left: 0;
}

.exp-content ul {
    padding: 0;
    margin-left: 1rem;
    margin-bottom: 0;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}